= form_for(@message) do |f|
  - if @message.errors.any?
    #error_explanation
      %h2
        = pluralize(@message.errors.count, "error")
        prohibited this message from being saved:
      %ul
        - @message.errors.full_messages.each do |message|
          %li= message
  /hardcoded user id
  .field
    = f.hidden_field :user_id, :value => 1
  .field
    = f.label :message_body
    %br/
    = f.text_field :message_body
  .actions
    = f.submit
