.col-xs-11.col-md-9.center-block{:style => "float:none"}
  %h1.text-center= "#{@user.username}'s timeline"
  .follow-button.text-center
    %button{class: "btn btn-primary", onclick: "alert(\"Sorry! We haven't got around to making this functionality yet\");"}= "Follow #{@user.username}"
  #messages
    = render :partial => @messages
